@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

/* Frutiger Light approximate */
@import url("//fonts.googleapis.com/css?family=Lato:100,300,500,700,900"); 

/* DIN condensed approximate */
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

/* Fira Mono, for centering bar plots in reactable */
@import url("//fonts.googleapis.com/css?family=Karla:400,700|Fira+Mono&display=fallback");

/* header styles */

h1 {
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
}
h2 {
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
}
h3 {
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
}
h4 {
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
  font-style: italic;
}
h5 {
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
  font-style: italic;
}

/* top navbar styles */

.navbar {
  background-color:#00806E;
  border-color: black;
  font-family: 'Lato'; /* main tab fonts */
  font-weight: 300;
}

.navbar-brand { /* dashboard title */
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: #FF0000;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
  color: #fff !important;
  background-color:#5c4a42!important;
  background-image: none !important;
}

/* sidebar */

.sidebar {
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
}

.section.sidebar {
  background-color: #95898430; /* gray with alpha */
}

#editor-map { /* this sets map editor height dynamically if in sidebar */
  height: calc(100vh - 60px) !important;
} 

/* sub sections */

.level3 {
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
}

.chart-title {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  color: #958984;
}

.nav-tabs {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  color: #958984;
}


/* shiny slider stuff */

.irs-bar {
  background: #00806E
}
.irs-bar {
  border-top: 1px #00806E
}
.irs-bar-edge {
  background: #00806E
}
.irs-bar-edge {
  border: 1px #00806E
}
.irs-single {
  background: #00806E;
}

/* tabset top border */

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #00806E;
}

/* bar chart formatting for reactable */
.bar-cell {
  display: flex;
  align-items: center;
}
.number {
  font-family: "Fira Mono", Consolas, Monaco, monospace;
  font-size: 13.5px;
  white-space: pre;
}
.bar-chart {
  flex-grow: 1;
  margin-left: 6px;
  height: 14px;
}
.bar {
  height: 100%;
}

/* leaflet */

.leaflet-control { /* leaflet legends, control boxes */
  font-family: 'Lato';
  font-weight: 300;
  color: #958984;
}

/* reactable fixed columns*/

.sticky {
  position: sticky !important;
  background: #fff;
  z-index: 1;
}

.left-col-1 {
  left: 0px;
}

.left-col-2 {
  left: 170px;
  border-right: 1px solid #eee !important;
}

.left-col-3 {
  left: 370px;
  border-right: 1px solid #eee !important;
}

.left-col-1-bord {
  left: 0px;
  border-right: 1px solid #eee !important;
}

.right-col-1 {
  right: 0px;
}

.right-col-2 {
  right: 85px;
  border-left: 1px solid #eee !important;
}

.right-col-3 {
  right: 225px;
  border-left: 1px solid #eee !important;
}

.right-col-2a {
  right: 100px;}

.right-col-3a {
  right: 200px;
  border-left: 1px solid #eee !important;
}